body {
    background-color: #393E46;
}


.container {
    margin: auto;
    width: 70%;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

.design {

    border: 0;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    background-color: aqua;
    width: 280px;
    height: 3.5rem;
    border-radius: 20px;
}
.necc {
    display: block;
}

.click {

    margin: auto;
    padding: 5% 10px 0 10px;
    display: inline-block;
    
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
  
img {
    width: 80%;
}
  
footer {
    margin-top: 4%;
    padding: 0 0 50px 0;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
}
  
.hvr:hover {
    background-color: paleturquoise;
     /* powderblue; */
}